{% extends 'base.html' %}

{% block body %}
    <main class="container mt-5">
        <section class="w-50">
            <form method="POST" actions="" class="col me-1 p-4 border">
                <!--criou o form o ideal é colocar o token-->
                {{ form.csrf_token }}
                <legend>Criar Post</legend>
                <fieldset>
                     <article class="form-group">
                        {{ form.titulo.label(class="form-control-label") }}
                        <!--se eu tiver um erro essa condição mostra -->
                        {% if form.titulo.errors %}
                            {{ form.titulo(class="form-control is-invalid") }}
                        <article class="invalid-feedback">
                            {% for erro in form.titulo.errors %}
                                {{ erro }}
                            {% endfor %}
                        </article>
                        {% else %}
                            {{ form.titulo(class="form-control") }}
                        {% endif %}
                    </article>
                    <article class="form-group">
                        {{ form.corpo.label(class="form-control-label") }}
                        <!--se eu tiver um erro essa condição mostra -->
                        {% if form.corpo.errors %}
                            {{ form.corpo(class="form-control is-invalid") }}
                        <article class="invalid-feedback">
                            {% for erro in form.corpo.errors %}
                                {{ erro }}
                            {% endfor %}
                        </article>
                        {% else %}
                            {{ form.corpo(class="form-control") }}
                        {% endif %}
                    </article>
                </fieldset>
                {{ form.botao_submit(class="btn btn-primary mt-2") }}
            </form>
        </section>
    </main>
{% endblock %}


<!-- aula 43 passo a passo da criação do post:
                        criação do formulario em forms.py;
                        em routes na função criar_post colocamos esse formulario p funcionar e interagir com o banco de dados;
                        passamos o formulario p o template e criamos os campos do formulario em criarpost.html;
                        e sempre q for interagir colocar o method POst/GET no decoration

    para consultar no python console:
    from comunidade import database
    from comunidade.models import Post
    Post.query.all()
    post = Post.query.first()
    post.titulo
    post.corpo
 -->