<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <section class="container-fluid container">
    <a class="navbar-brand" href="{{ url_for('home') }}">Comunidade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <article class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('usuarios') }}">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contato') }}">Contatos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Futuro
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Futebol</a></li>
            <li><a class="dropdown-item" href="#">Notícias</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Festas</a></li>
          </ul>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
        <!--aqui foi alterado na aula 28, colocado a condição
        dentro do url_for eu passo é a função-->
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('criar_post') }}">Criar Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('perfil') }}">Meu Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sair') }}">Sair</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login_criar_conta') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login_criar_conta') }}">Criar Conta</a>
          </li>
        {% endif %}
      </ul>
    </article>
  </section>
</nav>